/.project
/.pydevproject
/.settings
Artemis072/*.agc.html
Artemis072/*.agc.symtab
Artemis072/*.bin
Artemis072/*.log
Artemis072/*.lst
Artemis072/.*.swp
Artemis072/.project
Artemis072/Artemis072.symtab
Artemis072/MAIN.agc.anno.txt
Artemis072/MAIN.symtab
Artemis072/corediff.txt
Colossus237/*.agc.html
Colossus237/*.anno.txt
Colossus237/*.bin
Colossus237/*.binsource
Colossus237/*.log
Colossus237/*.lst
Colossus237/*.symtab
Colossus237/Binsource2Bin
Colossus237/corediff.pdf
Colossus237/corediff.txt
Colossus249/*.agc.html
Colossus249/*.anno.txt
Colossus249/*.bin
Colossus249/*.binsource
Colossus249/*.log
Colossus249/*.lst
Colossus249/*.symtab
Colossus249/corediff.txt
Comanche055/*.agc.html
Comanche055/*.anno.txt
Comanche055/*.bin
Comanche055/*.binsource
Comanche055/*.log
Comanche055/*.lst
Comanche055/*.symtab
Comanche055/corediff.txt
ControlPulseSim/ControlPulseSim
FP6/*.aea.html
FP6/*.bin
FP6/*.binsource
FP6/*.lst
FP6/*.symtab
FP8/*.aea.html
FP8/*.bin
FP8/*.binsource
FP8/*.lst
FP8/*.symtab
Luminary099/*.agc.html
Luminary099/*.anno.txt
Luminary099/*.bin
Luminary099/*.binsource
Luminary099/*.log
Luminary099/*.lst
Luminary099/*.symtab
Luminary099/corediff.txt
Luminary131/*.agc.html
Luminary131/*.anno.txt
Luminary131/*.bin
Luminary131/*.binsource
Luminary131/*.log
Luminary131/*.lst
Luminary131/*.symtab
Luminary131/CheckDec
Luminary131/Oct2Bin
Luminary131/bdiffhead
Luminary131/corediff.txt
Luminary131/webb2burkey-rope
/Makefile.yaAGC
Tools/bdiffhead
Tools/checkdec
Tools/listing2binsource
Tools/oct2bin
Tools/split-interp
Tools/webb2burkey-rope
Validation/*.html
Validation/Validation.bin
Validation/Validation.lst
Validation/Validation.symtab
Validation/Validation.txt
VirtualAGC/VirtualAGC
VirtualAGC/temp
/corediff*.txt
jWiz/jWiz
yaACA/*.o
yaACA/yaACA
yaACA2/yaACA2
yaACA3/yaACA3
yaAGC/*.a
yaAGC/*.exe
yaAGC/*.o
yaAGC/yaAGC
yaAGS/*.a
yaAGS/*.exe
yaAGS/*.o
yaAGS/yaAGS
yaDEDA/Makefile
yaDEDA/Makefile.in
yaDEDA/aclocal.m4
yaDEDA/autom4te.cache
yaDEDA/config.h
yaDEDA/config.log
yaDEDA/config.status
yaDEDA/configure
yaDEDA/mkinstalldirs
yaDEDA/po/Makefile
yaDEDA/po/Makefile.in
yaDEDA/po/Makefile.in.in
yaDEDA/src/*.o
yaDEDA/src/.deps
yaDEDA/src/Makefile
yaDEDA/src/Makefile.in
yaDEDA/src/yaDEDA
yaDEDA2/yaDEDA2
yaDSKY/Makefile
yaDSKY/Makefile.in
yaDSKY/aclocal.m4
yaDSKY/autom4te.cache
yaDSKY/config.guess.lnk
yaDSKY/config.h
yaDSKY/config.log
yaDSKY/config.status
yaDSKY/config.sub.lnk
yaDSKY/configure
yaDSKY/mkinstalldirs
yaDSKY/po/Makefile
yaDSKY/po/Makefile.in
yaDSKY/po/Makefile.in.in
yaDSKY/src/*.o
yaDSKY/src/.deps
yaDSKY/src/Makefile
yaDSKY/src/Makefile.in
yaDSKY/src/yaDSKY
yaDSKY/src/yadsky
yaDSKY2/yaDSKY2
yaLEMAP/*.bin
yaLEMAP/*.binsource
yaLEMAP/*.exe
yaLEMAP/*.lst
yaLEMAP/binLEMAP
yaLEMAP/yaLEMAP
yaTelemetry/yaTelemetry
yaUniverse/*.o
yaUniverse/yaUniverse
yaYUL/*.exe
yaYUL/*.o
yaYUL/.cproject
yaYUL/.project
yaYUL/.settings
yaYUL/yaYUL
